body{
    font-family: Arial, Helvetica, sans-serif;
}


.name-highlight{
    color: brown;

}
.half-width{
    width: 40%;
    float: left;

}

.half-width img{
    margin-left: 5%;
    padding: 3%;
    padding-bottom: 30%;
    width: 80%;
}