body{
    font-family: Arial, sans-serif;
}


#one{
    font-size: 50px;
    color: rgb(13, 4, 48);
    padding: 0px;
    margin: 0px;
}
#two{
    font-size: 50px;
    color: rgb(223, 136, 6);
    padding: 0px;
    margin: 0px;
}

.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    margin-top: 0%;
    padding: 0px;
    overflow: hidden;
}


.top-banner{
 height: 700px;
   
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

#tasa{
    margin-top: 40%;
}
#about{
    font-size: 50px;
}
.header{
    text-align: center;
    font-size: 50px;
}
#lastet{
    color: coral;
}
 {
    box-sizing: border-box;
  }
  
  .row{

      background-image: linear-gradient(rgb(235, 229, 229),rgb(145, 142, 142));
      padding: 10px;
  }
  .column {
      text-align: center;
    float: left;
    width: 30%;
    height: 500px;
    background-color: white;
    padding: 5px;
    
  }
  
  .img-text{
      text-align: center;
  }
  .row3{
     
      font-size: 50px;
      hi
      color: white;

       
  }
  #job-quary{
      margin-left: 20%;
  }
  .bottom{
      height: 500px;
      border:black solid 1px;
      background-image: url(imagess/Group_33094_1.png);
      image-resolution: 180px 120px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;